.home
    .home__map
        ui-gmap-google-map(center='map.center', zoom='map.zoom')
    .home__toolbar
        input(type="text", ng-model="city")
        button(ng-click="search(true)") Search
        button(ng-click="history()") View History
