.home
    .home__map
        ui-gmap-google-map(center='map.center', zoom='map.zoom')
    form.home__toolbar(ng-submit="search(true)")
        input(type="text", ng-model="city")
        button(type="submit") Search
        button(type="button", ng-click="history()") View History
