// mixins

box-sizing(prop = border-box)
    -moz-box-sizing prop
    -webkit-box-sizing prop
    box-sizing prop


// styles

body,
html
    margin 0
    padding 0
    width 100%
    height 100%
    min-width 320px
    min-height 480px


$homeToolbarHeight = 50px
$homeToolbarButtonWidth = 100px

ui-gmap-google-map,
.angular-google-map,
.angular-google-map-container
    height 100%

.home
    position relative
    width 100%
    height 100%

+prefix-classes('home__')

    .map
        width 100%
        height "calc(100% - %s)" % $homeToolbarHeight

    .toolbar
        width 100%
        height $homeToolbarHeight

        input
            width "calc(100% - 2 * %s)" % $homeToolbarButtonWidth
            height 100%
            box-sizing()
            float left
            padding-left 10px

        button
            width $homeToolbarButtonWidth
            height 100%
            box-sizing()
            float left

$historyButtonPadding = 5px 10px

.history
    position relative
    width 100%
    height 100%

+prefix-classes('history__')
    
    a
        box-sizing()
        padding $historyButtonPadding
        text-decoration none
        color black
        display inline-block

        &:hover
            text-decoration underline

    .back,
    .list
        text-transform uppercase
        display block

    .list
        width 100%
        padding 0
        margin 0
        list-style none

        li
            border-top 1px solid black